/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
    --cnvs-themecolor: rgb(0, 0, 0);
    --cnvs-themecolor-rgb: 0, 0, 0;
    --cnvs-body-font: "Marcellus", serif;
    --cnvs-primary-font: "Marcellus", serif;
    --cnvs-body-color: #ffb81dff;
    --cnvs-color: #ffffff;
    --cnvs-color2: rgb(255, 244, 220);
    --cnvs-text-color: var(--cnvs-themecolor);
    --cnvs-header-bg: var(--cnvs-body-color);
}

.below-slider > p {
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1030;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-primary-menu .menu-container > .menu-item > .menu-link {
    color: var(--cnvs-text-color);
    font-weight: 600;
    font-size: 0.9325rem;
    font-family: var(--cnvs-body-font) !important;
}

@media (min-width: 992px) {
    .negative-service {
        position: relative;
        transform: translateY(0%);
        z-index: 4;
    }
}

.negative-service-text {
    background-color: var(--cnvs-themecolor);
    color: var(--cnvs-body-color) !important;
    text-align: center;
    padding: 16px;
}

.ticker-wrap {
    font-family: var(--cnvs-body-font);
}

.bg-color .ticker-wrap .ticker-item {
    text-shadow: unset;
}

.ticker > a {
    color: var(--cnvs-body-color) !important;
}

.ticker > span {
    color: var(--cnvs-body-color) !important;
}

.custom-filter * {
    font-size: 1rem !important;
}

.filter-by-price * {
    font-size: 1rem !important;
}

#baristas .button.primary.btn:hover {
    color: #ffffff;
}

#quotation .button.primary.btn:hover {
    color: #ffffff;
}
