{# dump(block) #}

<!-- Header
============================================= -->
    <header id="header" class="header-size-sm" data-sticky-shrink="false" style="border-color: var(--cnvs-color);"> <div class="container">
        <div class="header-row justify-content-lg-between">

            <nav class="primary-menu top-primary-menu col-lg-5 order-last order-lg-first mobile-menu-off-canvas">

                <ul class="menu-container">
                    {% for menu in block.menus %}
                        <li class="menu-item">
                            <a class="menu-link" href="{{absolute_link(menu.contentlink|e)}}">
                                <div>{{menu.title}}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </nav>
            <!-- #primary-menu end -->

            <!-- Logo
            ============================================= -->
            <div id="logo" class="me-lg-5 mb-2 col-lg-2 justify-content-center">
                <a class="color fst-italic" href="/">
                    <img src="{{block.logo|thumbnail(200,100,fit='f')}}" alt="...">
                </a>
            </div>
            <!-- #logo end -->

            <div class="col-lg-5 d-flex justify-content-end d-lg-none">
                <div class="header-misc">

                    <div class="primary-menu-trigger" data-target=".top-primary-menu">
                        <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                            <span class="cnvs-hamburger-box">
                                <span class="cnvs-hamburger-inner"></span>
                            </span>
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</header>
<!-- #header end -->
