<!-- Content
============================================= -->
<div id="content">
    <div class="content-wrap py-0">
        {% for section in sections %}

            {% if section.name == 'section_service' %}
                {% include 'partials/_section_service.twig' with {visible: section.visible, content: 'section-service'} %}
            {% endif %}

            {% if section.name == 'section_features' %}
                {% include 'partials/_section_features.twig' with {visible: section.visible, content: 'section-features'} %}
            {% endif %}

            {% if section.name == 'section_products' %}
                {% include 'partials/_section_products.twig' with {visible: section.visible, content:'section-products'} %}
            {% endif %}

            {% if section.name == 'section_ticker' %}
                {% include 'partials/_section_ticker.twig' with {visible: section.visible, contenttype:'section-ticker'} %}
            {% endif %}

            {% if section.name == 'section_request' %}
                {% include 'partials/_section_request.twig' with {visible: section.visible, content:'section-request'} %}
            {% endif %}

        {% endfor %}
    </div>
</div>
<!-- #content end -->
