{% setcontent tickers = (contenttype) orderby 'sort' %}

{% if visible %}
    <!-- Section Ticker
    ============================================= -->
    <div class="py-4 bg-color">
        <div class="ticker-wrap pause-on-hover">
            <div class="ticker">
                {% for ticker in tickers %}
                    <a href="{{absolute_link(ticker.ticker_link|e)}}" class="ticker-item">{{ticker.title}}</a>
                    <span class="ticker-item">&#9670;</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
