<!-- Section Blog
============================================= -->
<div class="section bg-color bg-opacity-10 my-0">
    <div class="container py-5">
        <div class="row justify-content-center mb-4">
            <div class="col-md-6 text-center">
                <p class="color text-uppercase ls-3 small mb-3">Blog</p>
                <h3 class="display-5 mb-5">Our Latest Posts</h3>
            </div>
        </div>

        <div class="row gutter-50 text-center">
            <div class="col-md-4 entry mb-0">
                <div class="entry-image">
                    <img src="{{asset('demos/skincare/images/blog/1.jpg')}}" alt="...">
                </div>
                <div class="px-md-4">
                    <div class="entry-meta mb-3 ls-1">
                        <a href="#">Mar 11, 2021</a>
                    </div>
                    <div class="entry-title mb-4">
                        <h3 class="text-transform-none ls-0 font-body fw-medium fs-5 lh-base">
                            <a class="color" href="#">How to Get Glowing Skin and Anti-Aging Skin Care for face</a>
                        </h3>
                    </div>
                    <a href="#" class="read-more ls-1 text-uppercase border-bottom border-color small h-color h-op-08">Read More</a>
                </div>
            </div>

            <div class="col-md-4 entry mb-0">
                <div class="entry-image">
                    <img src="{{asset('demos/skincare/images/blog/2.jpg')}}" alt="...">
                </div>
                <div class="px-md-4">
                    <div class="entry-meta mb-3 ls-1">
                        <a href="#">Mar 11, 2021</a>
                    </div>
                    <div class="entry-title mb-4">
                        <h3 class="text-transform-none ls-0 font-body fw-medium fs-5 lh-base">
                            <a class="color" href="#">My Favorite Beauty Products for your skin &amp; Why I Love Them</a>
                        </h3>
                    </div>
                    <a href="#" class="read-more ls-1 text-uppercase border-bottom border-color small h-color h-op-08">Read More</a>
                </div>
            </div>

            <div class="col-md-4 entry mb-0">
                <div class="entry-image">
                    <img src="{{asset('demos/skincare/images/blog/3.jpg')}}" alt="...">
                </div>
                <div class="px-md-4">
                    <div class="entry-meta mb-3 ls-1">
                        <a href="#">Mar 11, 2021</a>
                    </div>
                    <div class="entry-title mb-4">
                        <h3 class="text-transform-none ls-0 font-body fw-medium fs-5 lh-base">
                            <a class="color" href="#">How to Make &amp; Buy Your High-End Beauty Products Last Longer</a>
                        </h3>
                    </div>
                    <a href="#" class="read-more ls-1 text-uppercase border-bottom border-color small h-color h-op-08">Read More</a>
                </div>
            </div>
        </div>

    </div>
</div>
