<!-- Section Ticker
    ============================================= -->
<div class="py-4 bg-color my-3">
    <div class="ticker-wrap pause-on-hover">
        <div class="ticker">
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
            <a href="demo-skincare-single.html" class="ticker-item">Shop Now</a>
            <a href="demo-skincare-single.html" class="ticker-item">
                <span class="text-white op-01">&#9670;</span>
            </a>
        </div>
    </div>
</div>
