<!-- Section Grid
    ============================================= -->
<div class="section my-0 my-lg-5">
    <div class="container">
        <div class="row g-0 align-items-md-stretch align-items-lg-center">
            <div class="col-xl-7 col-md-6 img-overlap">
                <img src="{{asset('demos/skincare/images/section-img.jpg')}}" alt="..." class="h-100" style="object-fit: cover;">
            </div>

            <div class="col-xl-5 col-md-6 bg-white">
                <div class="position-absolute start-0 top-0 w-100 h-100 bg-color bg-opacity-10"></div>
                <p class="color op-06 text-uppercase ls-4 small mb-3">Know More About Us</p>
                <h2 class="display-6">Let’s be Beautiful. Be Colorful. and Be You.</h2>
                <p class="color">Dynamically grow sustainable strategic theme areas and quality quality vectors. Competently myocardinate functionalized sources and customized platforms.</p>
                <a href="#" class="button button-small border-color button-border  m-0 color h-bg-color h-text-light">Learn More</a>
            </div>
        </div>
    </div>

</div>
