{% if block.visible %}
<!-- Section Features
============================================= -->
<div class="section my-0 pb-0 pb-lg-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <p class="color text-uppercase ls-3 small mb-3">How it Works</p>
                <h3 class="display-5 mb-5">It’s easy, with an expert.</h3>
            </div>
        </div>

        <div class="row g-5 text-center text-md-left">
            <div class="col-md-3">
                <div class="bg-primary bg-opacity-10 d-inline-block p-4 mb-4" style="border-radius: 30% 70% 66% 34% / 30% 40% 60% 70% ;">
                    <img src="{{asset('demos/skincare/images/icons/credit-card.png')}}" alt=".." width="60" height="60">
                </div>
                <h3 class="my-3 color">Online Service</h3>
                <p class="op-08">Authoritatively negotiate multimedia based niches without user-centric collaboration and idea-sharing.</p>
            </div>

            <div class="col-md-3">
                <div class="bg-danger bg-opacity-10 d-inline-block p-4 mb-4" style="border-radius: 30% 70% 51% 49% / 48% 40% 60% 52% ;">
                    <img src="{{asset('demos/skincare/images/icons/diamond.png')}}" alt=".." width="60" height="60">
                </div>
                <h3 class="my-3 color">Premium Quality</h3>
                <p class="op-08">Rapidiously pontificate quality functionalities with granular relationships.</p>
            </div>

            <div class="col-md-3">
                <div class="bg-info bg-opacity-10 d-inline-block p-4 mb-4" style="border-radius: 52% 48% 51% 25% / 48% 40% 60% 52% ;">
                    <img src="{{asset('demos/skincare/images/icons/organic.png')}}" alt=".." width="60" height="60">
                </div>
                <h3 class="my-3 color">100% Organic</h3>
                <p class="op-08">Authoritatively harness goal-oriented schemas without inexpensive outsourcing.</p>
            </div>

            <div class="col-md-3">
                <div class="bg-success bg-opacity-10 d-inline-block p-4 mb-4" style="border-radius: 65% 35% 51% 49% / 48% 63% 37% 52% ;">
                    <img src="{{asset('demos/skincare/images/icons/reuse.png')}}" alt=".." width="60" height="60">
                </div>
                <h3 class="my-3 color">Reusable Products</h3>
                <p class="op-08">Compellingly promote holistic growth strategies whereas tactical web services.</p>
            </div>
        </div>

    </div>
</div>
{% endif %}
