<!-- Content
============================================= -->
<div id="content">
    <div class="content-wrap py-0">
        {% include 'partials/_section_service.twig' %}
        {% include 'partials/_section_features.twig' %}
        {% include 'partials/_section_products.twig' %}
        {% include 'partials/_section_ticker.twig' %}
        {% include 'partials/_section_grid.twig' %}
        {# {% include 'partials/_section_blog.twig' %} #}
    </div>
</div>
<!-- #content end -->
