{% extends 'partials/_master.twig' %}
{% setcontent settings = 'settings' returnsingle %}

{% block master_vars %}
    {# Variables accessible in _master.twig #}
    {% set isRecord = true %}
    {{ parent() }}
    {# Preserve any existing vars #}
{% endblock %}

{% block main %}
    {% if settings is not null %}
        {% include 'partials/_top_bar.twig' with {block: settings.top_bar} %}
    {% endif %}

    {% if settings is not null %}
        {% include 'partials/_header.twig' with {block: settings} %}
    {% endif %}

    <div class="container py-5">
        <div id="content">
            <div
                class="content-wrap py-0 d-flex flex-column justify-content-center align-items-center">

                <!-- Record Content-->
                <article class="article col-12 col-lg-8" style="text-align: justify; text-justify: inter-word;">
                    <h1>{{ record|title }}</h1>

                    {% with {'record': record} %}
                    {{ block('sub_fields', 'helpers/_fields.twig') }}
                    {% endwith %}
                </article>
                <!--/ Record Content-->
            </div>
        </div>
    </div>

    {% if settings is not null %}
        {% include 'partials/_footer.twig' with {block: settings} %}
    {% endif %}

{% endblock main %}
